!!!
%html
  %head
    %title My sinatra website with haml

  %body
    #wrapper
      #header
        %h1 My Sinatra website
        %p A simple site made with Sinatra and Haml

      #content
        %h3 Home page
        %p Welcome to this site

      #side_bar
        %h3 Side bar
        %p

      #footer
        %p Omar Alvarez - 2018
